body {
    background-image: url(Roasted_coffee_beans.jpg);
}
.menu {
    width: 80%;
    background-color: hwb(34 53% 13%);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.flavor, .dessert {
    text-align: left;
    width: 75%;
}

h1, h2, p {
    text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}